.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.social-icons-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 70px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--icon-bg-footer);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover {
  background-color: var(--accent-color);
}

.social-icons-link-footer:hover {
  background-color: var(--accent-color);
}

.social-icons-link-footer:hover .footer-icons,
.social-icons-link-footer:focus .footer-icons {
  background-color: var(--accent-color);
}

.social-icons-link:hover .social-icon-svg,
.social-icons-link:focus .social-icon-svg {
  fill: var(--white);
}
